@font-face {
    font-family: SpongeBoy;
    src: url(fonts/SpongeboyRegular.otf);
}

@font-face {
    font-family: BobSponge;
    src: url(fonts/BobSponge.ttf);
}

@font-face {
    font-family: BlobSpongey;
    src: url(fonts/BlobSpongey.ttf);
}

body{
    background-image: url('https://cdn.allthings.how/wp-content/uploads/2020/04/allthings.how-download-spongebob-background-for-microsoft-teams-and-zoom-spongebob-flower-background.jpg?width=900');
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    color: #f7e948;
    text-align: center;
    font-family: SpongeBoy;
}

h2{
    text-align: center;
    font-family: BobSponge;
}

#spongebob{
    height: 100px;
    display: block;
    margin: 30px auto;
}

table{
    margin: 0 auto;
    width: 700px;
    background-image: url('https://media.istockphoto.com/photos/closeup-of-sand-pattern-of-a-beach-in-the-summer-picture-id678719470?k=20&m=678719470&s=612x612&w=0&h=KnyvbHVSGK0Ol67bKWj-nW5Jo2BetiiZrsb-ufret_Q=');
    font-family: BlobSpongey;
    font-size: x-large;
}

table, td, th{
    border: 1px solid black;
}

th{
    font-weight: bold;
}

.tag{
    font-family: monospace;
    background-color: #f7e948;
}